@model FrimaxComedor.Models.MenuLune

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MenuLune</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caldosa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caldosa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Platillo1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Platillo1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Platillo2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Platillo2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guarnicion1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guarnicion1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guarnicion2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guarnicion2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guarnicion3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guarnicion3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Postre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Postre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNavigation.Idmenu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
